name: main

on:
  push:
    branches: [master]
    tags:
      - "v*"
  pull_request:
    branches: [master]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  security_audit:
    name: security_audit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install cargo-audit from crates.io
        uses: baptiste0928/cargo-install@v3
        with:
          crate: cargo-audit
          version: "0.22.1"
      - run: |
          cargo audit \
            --ignore RUSTSEC-2022-0093 \
            --ignore RUSTSEC-2024-0344 \
            --ignore RUSTSEC-2024-0421 \
            --ignore RUSTSEC-2025-0022 \
            --ignore RUSTSEC-2025-0055 # waiting for solana upgrade

  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install system dependencies
        run: sudo apt-get update && sudo apt-get install -y libudev-dev
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt, clippy
          toolchain: stable
      - name: Install cargo-sort from crates.io
        uses: baptiste0928/cargo-install@v3
        with:
          crate: cargo-sort
          version: "2.0.1"
      - run: cargo sort --workspace --check
      - run: cargo fmt --all --check
      - run: cargo clippy
